<head>
  <style type="text/css">

.container {
  width: 100%;
  height: 15%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4682B4;
}
h1 {
  text-align: center;
  top: 50%;
  color: white;
  padding-top: 0.75em;
}
#wrapper {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<div class="container">
<h1>New Queued User</h1>
</div>

<div id="wrapper" style="text-align:center">
<div id="form" style="display: inline-block">
<%= render 'form', queued_user: @queued_user %>
</div>
</div>
